@use 'responsive';
$bg-color: transparent;
$text-color: white;
$page-color: rgb(23,23,23);
$foot: #02504b; 


body{
  background-color: $page-color !important;
  header{
    .navbar.navbar-expand-lg.fixed-top {
      background-color: $page-color !important;
      color: $text-color !important;
      z-index: 20;

      .navbar-brand{
        max-width: 65vh;
        @media (max-width:425px){
          max-width: 30vh !important; 
        }
        @media (max-width: 560px) {
         max-width: 45vh;
        }
      }
      .image-container{
        display: flex !important;
        justify-content: start;
        align-items: start;
        position: relative;
      }
      .image-container img{
        max-width: 30%;
        object-fit: contain;
      }
    }
  }


  .container{
    .navbar-brand{
        color: aqua;
    }
}


.overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 85vh;
  background-color: transparent; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .trapezoid-container {
    width: 200px;
    height: 100px; 
    overflow: hidden; 
    position: relative;
}

.trapezoid {
  width: 135vh;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: $page-color;
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
}


  .sec1{
    text-align: left !important;
    color: $text-color;
    height: 100vh;
    background-image: url(../img/Fondo-d.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90vh 0;

    .container{
      position: relative;
      z-index: 12;
    }
      .highlight {
        color: #00a99d;
      }
      
      .buttons {
        margin-top:2rem;
        
      }
      
      .btn {
        padding: 10px 20px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 1em;
      }
      
      .btn-primary {
        background-color: #00a99d;
        color: white;
        width: 8rem;
      }
      
      .btn-secondary {
        background-color: #00a99d;
        color: $text-color;
        width: 8rem;
        margin-left: 1rem;
      }
      
      .image-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;

    }

      .image-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;

      }

      h1{
        font-size: 3rem;
        font-style: italic;
        font-family: 'rubik';
        font-weight: 900;
        line-height: 60px;
      }
  }
  
  
  .sec2{
    text-align: left !important;
    color: $text-color;
    p{
      font-size: large;
    }

      .buttons {
        margin-top: 20px;
      }
      
      .btn {
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        cursor: pointer;
        font-size: 1em;
      }
      
      .btn-primary {
        background-color: #00a99d;
        color: white;
      }
      
      .btn-secondary {
        background-color: #f5f5f5;
        color: #333;
      }
      
      .image-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
      }
      
      .image-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
  }

  #sec2-f{
    padding: 2rem;
    position: relative;
    background-color: $text-color;
    z-index: 5;
  }

  .sec3 {
    color: $text-color;
    min-height: 130vh;
    margin-bottom: 2rem;
    h3 {
      text-align: left;
      font-weight: bold;
      padding-top: 2rem;
    }
    .image-container {
      background-color: $text-color;
      padding: 5rem 1rem;
      height: 22rem;
    }
    #img-c1 {
      border-radius: 200px 0px 0px 0px;
      background-image: url(../img/Muestras/Muestra-1.png);
    }
    #img-c2 {
      border-radius: 200px 200px 0px 0px;
      background-image: url(../img/Muestras/Muestra-2.jpg);
      background-size: cover;
    }
    #img-c3 {
      border-radius: 200px 200px 0px 0px;
      background-image: url(../img/Muestras/Muestra-3.png);
      background-size: cover;
    }
    #img-c4 {
      border-radius: 0px 200px 0px 0px;
      background-image: url(../img/Muestras/Muestra-4.png);
      background-size: cover;
    }

    @media (max-width: 475px) {
      min-height: 250vh;
    }
}

footer{
  position: static;
  background-color: $foot !important;
  color: white;
  .image-container{
    display: flex !important;
    justify-content: start;
    align-items: start;
    position: relative;
  }
  .image-container img{
    max-width: 30%;
    object-fit: contain;
  }
  li{
    margin-bottom: 1rem;
  }
}

.foot-c{
  margin-top: 2rem;
  text-align: center;
}

}