html {
  height: 100% !important;
}
@media (max-width: 560px) {
  html {
    width: 80vh;
  }
}

body {
  display: grid;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(1, 2fr);
  height: 100% !important;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #02504b;
}
body::-webkit-scrollbar-thumb {
  background-color: #00a99d;
  border-radius: 0.5rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  height: 85vh;
}

#sec2-f {
  margin-bottom: 3rem;
}

a {
  color: white !important;
  text-decoration: none;
}

.highlight {
  color: #00a99d;
}

@media (max-width: 1000px) {
  header .image-container {
    width: 40vh;
  }
  html {
    width: 80vh;
  }
  .sec1 .container {
    text-align: center;
    align-items: center;
  }
  .sec1 .container h1 {
    font-size: 3rem;
    line-height: 75px;
  }
  .sec1 .container .btn {
    margin-top: 2rem;
    font-size: 1.5em;
  }
  .section-container {
    background-image: url(../img/Fondo-d.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20vh 0;
  }
  .section-container .trapezoid {
    display: none;
  }
  .sec2 .row {
    --bs-gutter-x: -8.5rem;
  }
  .sec3 .row {
    --bs-gutter-x: 1rem;
  }
  .form-row {
    width: 68vh !important;
  }
  .form-con {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
  }
  .fondo {
    display: none;
  }
  .mydict div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 55% !important;
    justify-content: center;
    width: 50%;
  }
}
body {
  background-color: rgb(23, 23, 23) !important;
}
body header .navbar.navbar-expand-lg.fixed-top {
  background-color: rgb(23, 23, 23) !important;
  color: white !important;
  z-index: 20;
}
body header .navbar.navbar-expand-lg.fixed-top .navbar-toggler-icon {
  background-image: url(../img/nav.png) !important;
}
body header .navbar.navbar-expand-lg.fixed-top .image-container {
  display: flex !important;
  justify-content: start;
  align-items: start;
  position: relative;
  width: 50vh;
}
body header .navbar.navbar-expand-lg.fixed-top .image-container img {
  max-width: 30%;
  object-fit: contain;
}
body .container .navbar-brand {
  color: aqua;
}
body .overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 85vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
body .overlay-div hr {
  background-color: white;
  width: 100%;
  position: relative;
  left: 20rem;
  rotate: 85deg;
}
body .overlay-div .trapezoid-container {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
body .overlay-div .trapezoid {
  width: 135vh;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgb(23, 23, 23);
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}
body .sec1 {
  text-align: left !important;
  color: white;
  height: 100vh;
  background-image: url(../img/Fondo-d.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 90vh 0;
}
body .sec1 .container {
  position: relative;
  z-index: 12;
}
body .sec1 .highlight {
  color: #00a99d;
}
body .sec1 .buttons {
  margin-top: 2rem;
}
body .sec1 .btn {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1em;
  color: white !important;
  border-width: 2px !important;
  border-color: #00a99d !important;
}
body .sec1 .btn-primary {
  background-color: #00a99d;
  color: white !important;
  width: 8rem;
}
body .sec1 .btn-secondary {
  background-color: #00a99d;
  color: white;
  width: 8rem;
  margin-left: 1rem;
  border-color: #00a99d;
}
body .sec1 .image-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
body .sec1 .image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
body .sec1 h1 {
  font-size: 3rem;
  font-style: italic;
  font-family: "rubik";
  font-weight: 900;
  line-height: 60px;
}
body .sec2 {
  text-align: left !important;
  color: white;
}
body .sec2 p {
  font-size: large;
}
body .sec2 .image-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
body .sec2 .image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
body #sec2-f {
  padding: 2rem;
  position: relative;
  background-color: white;
  z-index: 5;
}
body .sec3 {
  color: white;
  min-height: 130vh;
  margin-bottom: 2rem;
}
body .sec3 h3 {
  text-align: left;
  font-weight: bold;
  padding-top: 2rem;
}
body .sec3 .image-container {
  background-color: white;
  padding: 5rem 1rem;
  height: 22rem;
}
body .sec3 #img-c1 {
  border-radius: 200px 0px 0px 0px;
  background-image: url(../img/Muestras/Muestra-1.png);
}
body .sec3 #img-c2 {
  border-radius: 200px 200px 0px 0px;
  background-image: url(../img/Muestras/Muestra-2.jpg);
  background-size: cover;
}
body .sec3 #img-c3 {
  border-radius: 200px 200px 0px 0px;
  background-image: url(../img/Muestras/Muestra-3.png);
  background-size: cover;
}
body .sec3 #img-c4 {
  border-radius: 0px 200px 0px 0px;
  background-image: url(../img/Muestras/Muestra-4.png);
  background-size: cover;
}
@media (max-width: 475px) {
  body .sec3 {
    min-height: 100vh;
  }
}
body footer {
  position: static;
  background-color: #02504b !important;
  color: white;
}
body footer .image-container {
  display: flex !important;
  justify-content: start;
  align-items: start;
  position: relative;
}
body footer .image-container img {
  max-width: 30%;
  object-fit: contain;
}
body footer li {
  margin-bottom: 1rem;
}
body .foot-c {
  margin-top: 2rem;
  text-align: center;
}
body .form {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774) !important;
  z-index: 25;
}
body .form h1 {
  color: white;
}
body .form-row {
  position: fixed;
  z-index: 25;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1000px;
  padding: 20px;
  background: #000000;
  border-radius: 30px;
  margin: 20px auto;
  box-shadow: rgba(0, 169, 158, 0.3529411765) 30px 30px 30px -20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .form-row .fondo {
  background-image: url(../img/registro.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 500px;
  height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(10%, -50%);
  z-index: 30;
}
body .form-row h1 {
  color: #00a99d;
  margin-bottom: 20px;
  margin-left: 160px;
}
body .form-group {
  display: flex;
  width: 100%;
}
body .form-group input {
  background-color: transparent;
  border-bottom: 2px solid #00a99d;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin: 40px 50px 0px 0px;
}
body .btn-outline-primary1 {
  background-color: #00a99d;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 190px;
  margin-top: 50px;
}
body .btn-outline-primary1:hover {
  border: 2px solid #00a99d;
  color: white;
}
body :focus {
  outline: 0;
  border: 2PX solid #2260ff;
  color: white;
}
body .btn-outline-primaryX {
  color: white;
}
body .btn-outline-primaryX:hover {
  background-color: #00a99d;
}
body .mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: -2rem;
  margin-left: 75%;
  justify-content: center;
}
body .mydict input[type=radio] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: transparent;
  border: 2px solid #00a99d;
}
body .mydict input[type=radio]:checked + span {
  box-shadow: 0 0 0 0.0625em #00a99d;
  background-color: #00a99d;
  z-index: 1;
  color: #ffffff;
}
body label span {
  display: block;
  cursor: pointer;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: white;
  text-align: center;
  transition: background-color 0.5s ease;
}
body label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}
body label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}
body #oscure {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.644);
  width: 100%;
  height: 100%;
  z-index: 25;
}

/*# sourceMappingURL=index.css.map */
