@use 'responsive';
$bg-color: transparent;
$text-color: blue;

.navbar.navbar-expand-lg.fixed-top {
    background-color: $bg-color !important;
    
  }

  .container{
    .navbar-brand{
        color: aqua;
    }
  }

  .sec1{
    .left-color{
        background-color: black;
    }
  }