.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100%;
  }
  
  .sidebar h2 {
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a, .sidebar ul li button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  
  .sidebar ul li a:hover, .sidebar ul li button:hover {
    background-color: #575757;
    padding: 10px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  h3 {
    margin-top: 0;
  }
  