.containeragre{
  color: white;
  margin: 0px auto;
  max-width: 600px;
  background-color: black;
  border-radius: 8px;
  height: 600px;
}
label{
  color: white !important;
}
.agraimg{
  margin: 0px auto;
  width: 70%;
  border: 2px dashed #0ff;
  border-radius: 8px;
  padding: 90px;
  cursor: pointer;
}
