.paper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100% ;
    background-color: transparent; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.sec3texto1 {
    color: #00a99d;
    font-family: rubik;
    font-weight: 400;
    font-style: normal;
    margin: 0px auto;

}

.sec3l {
  color: rgb(255, 255, 255);
  height: auto;
  font-family: rubik;
  display: flex;
  flex-direction: column;
  align-items: center;   // Centra horizontalmente
  justify-content: center; // Centra verticalmente (si el contenedor tiene altura definida)
  padding: 2rem 1rem;  // Margen interno para separar del borde
  text-align: center;  // Para que los textos dentro queden centrados
}

.sece31 {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17bebb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
}


.step-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem; // Equivalente a w-36 en Tailwind
  }
  
  .step-item:not(:first-child):before {
    content: '';
    background-color: #e2e8f0; // Equivalente a bg-slate-200
    position: absolute;
    width: 100%;
    height: 3px;
    right: 50%;
    top: 33%;
    transform: translateY(-50%);
  }
  
  .step {
    width: 2.5rem; // Equivalente a w-10
    height: 2.5rem; // Equivalente a h-10
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    background-color: #334155; // Equivalente a bg-slate-700
    border-radius: 50%;
    font-weight: 600;
    color: white;
    
  }
  
  .active .step {
    background-color: #0284c7; // Equivalente a bg-sky-600
  }
  
  .complete .step {
    background-color: #16a34a; // Equivalente a bg-green-600
  }
  
  .complete p {
    color: white;
  }
  
  .complete:not(:first-child):before,
  .active:not(:first-child):before {
    background-color: #16a34a; // Equivalente a bg-green-600
  }
  