@import "~bootstrap/scss/bootstrap";
@import 'responsive';

html {
  height: 100% !important;
}

*{
  font-family: rubik;
}
@media (max-width: 560px) {
  html {
    width: 80vh;
  }
  
}
body {
  display: grid;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(1, 2fr);
  height: 100% !important;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}


body::-webkit-scrollbar-track {
  background: #02504b;
}


body::-webkit-scrollbar-thumb {
  background-color: #00a99d;
  border-radius: 0.5rem;
}


#sec2-f {
  padding: 2rem;
  background-color: white;
}

a {
  color: white !important;
  text-decoration: none;
}



@media (max-width: 1000px) {
  header .image-container {
    width: 40vh;
  }
  html {
    width: 100%;
  }
  .sec1 .container {
    text-align: center;
    align-items: center;
  }
  .sec1 .container h1 {
    font-size: 3rem;
    line-height: 75px;
  }
  .sec1 .container .btn {
    margin-top: 2rem;
    font-size: 1.5em;
  }
  .section-container {
    background-image: url(../img/Fondo-d.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20vh 0;
  }
  .section-container .trapezoid {
    display: none;
  }
  
  .form-row {
    width: 70vh !important;
  }
  .form-con {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
  }
  .fondo {
    display: none;
  }
  .fondoInicio {
    display: none;
  }
  .sec2 .image-container img{
    display: none;
  }
  #h1inicio {
  .sec2 .image-container img{
    display: none;
  }
  #h1inicio {
    display: flex;
    justify-content: center;
  }
  .mydict div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 18% !important;
    justify-content: center;
    width: 66%;
    
  }
}
}

@media (max-width: 500px) {
  .form-row {
    width: 100% !important;
  }
}
body {
  background-color: rgb(23, 23, 23) !important;
}


body header {
  position: fixed;
  z-index: 20;
  width: 100%;
}
.sec2 .image-container{
  display: none;
}
.sec2 .image-container{
  display: none;
}
body header #logo {
  max-width: 8rem;
}


body .container .navbar-brand {
  color: aqua;
}


body .overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 85vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


body .overlay-div hr {
  background-color: white;
  width: 100%;
  position: relative;
  left: 20rem;
  rotate: 85deg;
}


body .overlay-div .trapezoid-container {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
}


body .overlay-div .trapezoid {
  width: 135vh;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgb(23, 23, 23);
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}


body .sec1 {
  text-align: left !important;
  color: white;
  height: 100vh;
  background-image: url(../img/Fondo-d.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 90vh 0;
  background-attachment: fixed;
  background-attachment: fixed;
}


body .sec1 .container {
  position: relative;
  z-index: 12;
}


body .sec1 .highlight {
  color: #00a99d;
}


body .sec1 .image-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}


body .sec1 .image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
body #sec2-f {
  padding: 2rem;
  position: relative;
  background-color: white;
  z-index: 5;
  font-size: 1.5rem;
  font-weight: 600;
  background-attachment: fixed;
  font-size: 1.5rem;
  font-weight: 600;
  background-attachment: fixed;
}

body footer {
  position: static;
  background-color: #000000 !important;
  color: white;
}

body footer .image-container {
  display: flex !important;
  justify-content: center;
  position: relative;
  max-width: 100%;
}


body footer .image-container img {
  max-width: 50%;
  object-fit: contain;
}


body footer li {
  margin-bottom: 1rem;
}


body .foot-c {
  margin-top: 2rem;
  text-align: center;
}


body .form {
  position: fixed;
  width: 100%;
  height: 80%;
  z-index: 25;
}


body .form h1 {
  color: white;
  font-family: rubik;
}


body .form-row {
  position: fixed;
  z-index: 25;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1000px;
  padding: 20px;
  background-color: rgb(23, 23, 23) !important;
  border-radius: 30px;
  margin: 20px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid #00FFFF;
  box-shadow: 0 0 0px #00FFFF, 0 0 0px #00FFFF, 0 0 2px #00FFFF, 0 0 0px #00FFFF, 0 0 20px #00FFFF;
}


body .form-row .fondo {
  background-image: url(../img/fo.png);
  background-repeat: no-repeat;
  width: 80%;
  max-width: 500px;
  height: 350px;
  background-size: 100%;
  position: fixed;
  top: 55%;
  left: 45%;
  transform: translate(10%, -50%);
  z-index: 30;
}


body .form-row h1 {
  color: #00a99d;
  font-weight: 1000;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: rubik;
  width: 45%;
}


body .form-group {
  display: flex;
  width: 100%;
}


body .form-group input {
  background-color: transparent;
  border-color: #00a99d;
  color: white !important;
}


body .btn-outline-primary1 {
  background-color: #00a99d;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 190px;
  margin-top: 50px;
}

body .btn .btn-outline-primary:hover {
  color: white;
}


body :focus {
  outline: 0;
  border: none !important;
  color: white;
}


body .btn-outline-primaryX {
  color: white;
}

.mydict {
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.mydict input[type=radio] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: transparent;
  border: 2px solid #00a99d;
}

.mydict input[type=radio]:checked + span {
  box-shadow: 0 0 0 0.0625em #00a99d;
  background-color: #00a99d;
  z-index: 1;
  color: #ffffff;
}

.mydict label span {
  display: block;
  cursor: pointer;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: white;
  text-align: center;
  transition: background-color 0.5s ease;
}

.mydict label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

.mydict label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}

body #oscure {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.644);
  width: 100%;
  height: 100%;
  z-index: 25;
}


body .sec1c {
  color: white;
}


body .sec1c ul {
  list-style: none;
  text-align: center;
}


body .sec1c ul li {
  padding: 1rem;
}


body .carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}


body .carousel-container .carousel-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}


body .carousel-container .carousel-item {
  min-width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}


body .carousel-container .leftArrow,
body .carousel-container .rightArrow {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

body #c-1 {
  background-size: cover;
  background-repeat: no-repeat;
}

body #c-2 {
  background-size: cover;
  background-repeat: no-repeat;
}


body .hidden {
  display: none;
}


body .visible {
  display: block;
}


body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


body .form-container {
  padding: 20px;
  border-radius: 8px;
}

#h1inicio h1 {
  margin-top: 5%;
  float: right;
  width: 60%;
  font-family: rubik;
}

#inputin {
  margin-top: 5%;
  float: right;
  width: 60%;
  flex-direction: column;
  gap: 10px;
  gap: 10px;
}

#bott {
  float: right;
  margin-top: 5%;
  margin-top: 5%;
}

#bott #bot {
  display: flex;
  float: left;
  margin: 20px;
  margin-left: 90px;
}


body .form-row .fondoInicio {
  background-image: url(../img/fondoInicio.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 400px;
  height: 600px;
  background-size: 100%;
  position: fixed;
  top: 60%;
  left: 0%;
  transform: translate(10%, -50%);
  z-index: 30;
}



.sec1_s {
  padding-top: 6rem;
}

.MuiPaginationItem-root {
  color: white !important;
}

.MuiPaginationItem-root.Mui-selected {
  color: white !important;
}

.css-uqq6zz-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
  color: white !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  color: white !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  fill: white !important;
  fill: white !important;
}

.css-1v8abvc-MuiInputBase-root-MuiOutlinedInput-root {
  color: white !important;
}

.css-i4bv87-MuiSvgIcon-root {
  fill: white !important;
  margin-right: 8px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.css-1vtrqgs-MuiPaper-root-MuiAppBar-root {
  position: fixed !important;
}

div:where(.swal2-container).swal2-center > .swal2-popup {
  background-color: black !important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  color: white !important;
}

div:where(.swal2-container) .swal2-html-container {
  color: white !important;
}

div:where(.swal2-icon).swal2-warning {
  border-color: #00FFFF !important;
  color: #00a99d !important;
  color: #00a99d !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  background-color: transparent !important;
  border: 1px solid white !important;
}


div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
  border: 1px solid white!important;
  background-color: transparent !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm):hover {
  background-color:#00a99d  !important;
  color: white !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel):hover {
  background-color: #00a99d !important;
  color: white !important;
}
/*maquina de escribir*/
.col .maquina{
  width:30%;
  font-weight: 900;
  font-size: 4rem;
  font-family: rubik;
  font-style: italic;
  line-height: 80px;
}
/*sect 333 imagenes nuevas*/
.main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -90px;
  align-items: center;
}

.caja {
  width: 400px;
  height: 700px;
  margin-top: 40px;
  border: 2px solid rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  transition: all 0.5s ease;
}

.caja1 {
  background-image: url(../img/sec111.png);
  filter: grayscale(100%);

  
}

.caja2 {
  background-image: url(../img/sect222.png);
  margin-top: 1px;
  filter: grayscale(100%);
}

.caja3 {
  background-image: url(../img/sect33.png);
  filter: grayscale(100%);
}

.caja:nth-child(odd) {
  transform: translateY(-20px);
}

.caja:hover {
  flex-basis:  500px;
  height: 900px;
  background-size: 500px;
  filter: grayscale(0%) opacity(100%);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
}
@media screen and (max-width: 768px) {
  .main {
      width: 80%;
      height: 50%;
      align-items: center;
  }

  .caja {
      width: 100%;
      height: 200px;
  }

  .caja:hover {
      width: 100%;
      height: auto;
  
      max-width: 700px;
  }

  body footer .image-container {
    display: flex !important;
    justify-content: center;
    position: relative;
    max-width: 100%;
  }
  
  
  body footer .image-container img {
    max-width: 100%;
    object-fit: contain;
  }
  
}

@media screen and (max-width: 480px) {
  .caja {
      width: 100%;
      height: 200px;
  }

  .caja:hover {
      width: 100%;
      height: 310px;

      max-width: 700px;
      background-size: 220px;
      
      z-index: 1; /* Asegura que la imagen seleccionada se superponga a las otras */
  }

  body footer .image-container {
    display: flex !important;
    justify-content: center;
    position: relative;
    max-width: 100%;
  }
  
  
  body footer .image-container img {
    max-width: 70%;
    object-fit: contain;
  }  


}


/*maquina de escribir*/
.col .maquina{
  width:30%;
  font-weight: 900;
  font-size: 4rem;
  font-family: rubik;
  font-style: italic;
  line-height: 80px;
}

.redes{
  display: flex;
  gap: 10px;
  width: auto ;
  height: auto;

  flex-direction: column;
}
.redes h2{
  font-size: 0.8rem;
  color: white;
  
  width: 25rem;
  text-align: center;
}
.bntredes{
  width: 25rem;
  height: 100%;
  display: flex;
  font-size: 1.3rem;
  color: white;
  justify-content: center;
  transition: all 0.3s ease;
  
  flex-direction: row;
  gap: 30px;
}
.Google1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: transparent;
  border: 2px solid red;
}
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Google1:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: .3s;
  background-color: red;
}

.Google1:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 10px;
}
/* hover effect button's text */
.Google1:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-left: 5px;
}
/* button click effect*/
.Google1:active {
  transform: translate(2px ,2px);
}

.Fecebook {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: transparent;
  border: 2px solid rgb(13, 0, 255);
}
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}

.sign svg path {
  fill: white;
}
/* text */
.text1 {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Fecebook:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: .3s;
  background-color: rgb(13, 0, 255);
}

.Fecebook:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 10px;
}
/* hover effect button's text */
.Fecebook:hover .text1 {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-left: 5px;
}
/* button click effect*/
.Fecebook:active {
  transform: translate(2px ,2px);
}
.Github {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: transparent;
  border: 2px solid purple;
}
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}

.sign svg path {
  fill: white;
}
/* text */
.text2{
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Github:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: .3s;
  background-color: purple;
}

.Github:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 10px;
}
/* hover effect button's text */
.Github:hover .text2 {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-left: 5px;
}
/* button click effect*/
.Github:active {
  transform: translate(2px ,2px);
}
.Microsoft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: transparent;
  border: 2px solid #036f9e;
}
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}

.sign svg path {
  fill: white;
}
/* text */
.text3{
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Microsoft:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: .3s;
  background-color: #036f9e;
}

.Microsoft:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 10px;
}
/* hover effect button's text */
.Microsoft:hover .text3 {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-left: 5px;
}
/* button click effect*/
.Microsoft:active {
  transform: translate(2px ,2px);
}
.separator {
  
  width: 100 auto;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.separator > div {
  width: 130px;
  color: white;
  height: 2px;
  border-radius: 5px;
  background-color: white;
}

.separator > span {
  color: #00a99d;
  font-size: 15px;
  font-weight: 600;
}

.tex{
  font-family: "Dancing Script", cursive;
  font-size: 20px !important;
  line-height: 30px;
}
.tex{
  font-family: "Dancing Script", cursive;
  font-size: 20px !important;
  line-height: 30px;
  font-family: "Dancing Script", cursive;
  font-size: 70px !important;
}