@use 'responsive';
$bg-color: transparent;
$text-color: white;
$page-color: rgb(23,23,23);
$foot: #02504b; 

@media (max-width: 1000px) {
  header{
    .image-container{
      width: 40vh;
    }
  }
  html {
    width: 80vh;
  }
  .sec1{
    .container{
      text-align: center;
      align-items: center;

      h1{
        font-size: 3rem;
        line-height: 75px;
      }
      .btn{
        margin-top: 2rem;
        font-size: 1.5em;
      }

    }
  }
  .section-container{
    background-image: url(../img/Fondo-d.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20vh 0;

    .trapezoid {
      display: none;
    }
  }
  .sec2{
    .row{
      --bs-gutter-x: -8.5rem;
    }
  }
  .sec3{
    .row{
      --bs-gutter-x: 1rem;
    }
  }
  .form-row{
    width: 68vh !important;
  }
  .form-con{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
  }
  .fondo {
    display: none;
}
.mydict div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 55% !important;
    justify-content: center;
    width: 50%;
}
}


body{
  background-color: $page-color !important;
  header{
    .navbar.navbar-expand-lg.fixed-top {
      background-color: $page-color !important;
      color: $text-color !important;
      z-index: 20;

      .navbar-toggler-icon{
        background-image: url(../img/nav.png)!important;
      }

      // .navbar-brand{
      //   max-width: 65vh;
      //   @media (max-width:425px){
      //     max-width: 30vh !important; 
      //   }
      //   @media (max-width: 560px) {
      //    max-width: 45vh;
      //   }
      // }
      .image-container{
        display: flex !important;
        justify-content: start;
        align-items: start;
        position: relative;
        width: 50vh;
      }
      .image-container img{
        max-width: 30%;
        object-fit: contain;
      }
    }
  }


  .container{
    .navbar-brand{
        color: aqua;
    }
}


.overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 85vh;
  background-color: transparent; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  hr{
    background-color: white;
    width: 100%;
    position: relative;
    left: 20rem;
    rotate: (85deg);
  }

  .trapezoid-container {
    width: 200px;
    height: 100px; 
    overflow: hidden; 
    position: relative;
}

.trapezoid {
  width: 135vh;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: $page-color;
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
}


  .sec1{
    text-align: left !important;
    color: $text-color;
    height: 100vh;
    background-image: url(../img/Fondo-d.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90vh 0;

    .container{
      position: relative;
      z-index: 12;
    }
      .highlight {
        color: #00a99d;
      }
      
      .buttons {
        margin-top:2rem;
        
      }
      
      .btn {
        padding: 10px 20px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 1em;
        color: white !important;
        border-width: 2px !important;
        border-color: #00a99d !important;
      }
      
      .btn-primary {
        background-color: #00a99d;
        color: white !important;
        width: 8rem;
      }
      
      .btn-secondary {
        background-color: #00a99d;
        color: $text-color;
        width: 8rem;
        margin-left: 1rem;
        border-color: #00a99d;
      }
      
      .image-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;

    }

      .image-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;

      }

      h1{
        font-size: 3rem;
        font-style: italic;
        font-family: 'rubik';
        font-weight: 900;
        line-height: 60px;
      }
  }
  
  
  .sec2{
    text-align: left !important;
    color: $text-color;
    p{
      font-size: large;
    }

      .image-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
      }
      
      .image-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
  }

  #sec2-f{
    padding: 2rem;
    position: relative;
    background-color: $text-color;
    z-index: 5;
  }

  .sec3 {
    color: $text-color;
    min-height: 130vh;
    margin-bottom: 2rem;
    h3 {
      text-align: left;
      font-weight: bold;
      padding-top: 2rem;
    }
    .image-container {
      background-color: $text-color;
      padding: 5rem 1rem;
      height: 22rem;
    }
    #img-c1 {
      border-radius: 200px 0px 0px 0px;
      background-image: url(../img/Muestras/Muestra-1.png);
    }
    #img-c2 {
      border-radius: 200px 200px 0px 0px;
      background-image: url(../img/Muestras/Muestra-2.jpg);
      background-size: cover;
    }
    #img-c3 {
      border-radius: 200px 200px 0px 0px;
      background-image: url(../img/Muestras/Muestra-3.png);
      background-size: cover;
    }
    #img-c4 {
      border-radius: 0px 200px 0px 0px;
      background-image: url(../img/Muestras/Muestra-4.png);
      background-size: cover;
    }

    @media (max-width: 475px) {
      min-height: 100vh;
    }
}

footer{
  position: static;
  background-color: $foot !important;
  color: white;
  .image-container{
    display: flex !important;
    justify-content: start;
    align-items: start;
    position: relative;
  }
  .image-container img{
    max-width: 30%;
    object-fit: contain;
  }
  li{
    margin-bottom: 1rem;
  }
}

.foot-c{
  margin-top: 2rem;
  text-align: center;
}


.form{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774) !important;
  z-index: 25;
  h1{
    color: white;
  }
}

// estilos form 

.form-row {
  position: fixed;
  z-index: 25;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1000px;
  padding: 20px;
  background: #000000;
  border-radius: 30px;
  margin: 20px auto;
  box-shadow: #00a99e5a 30px 30px 30px -20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);



}

.form-row .fondo {
  background-image: url(../img/registro.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 500px;
  height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(10%, -50%);
  
  z-index: 30;

}

.form-row h1 {
  color: #00a99d;
  margin-bottom: 20px;
  margin-left: 160px;
}

.form-group {
  display: flex;
  width: 100%;
}

.form-group input {
  background-color: transparent;
  border-bottom: 2px solid #00a99d;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin: 40px 50px 0px 0px ;
  
  
}

.btn-outline-primary1 {
  background-color: #00a99d;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 190px;
  margin-top: 50px;
}

.btn-outline-primary1:hover {
  border: 2px solid #00a99d;
  color: white;
}

:focus {
  outline: 0;
  border: 2PX solid#2260ff;
  color: white;

}
.btn-outline-primaryX{
    color: white;
}
.btn-outline-primaryX:hover{
  background-color: #00a99d;
}
.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: -2rem;
  margin-left: 75%;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: transparent;
  border: 2px solid #00a99d;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #00a99d;
  background-color: #00a99d;
  z-index: 1;
  color: #ffffff;
}

label span {
  display: block;
  cursor: pointer;

  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: white;
  text-align: center;
  transition: background-color .5s ease;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
}

#oscure{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.644);
  width: 100%;
  height: 100%;
  z-index: 25;
}
}