.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2d2d2d;
}

.form-card {
    background-color: #1a1a1a;
    color: white;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar-img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
}

.MuiTextField-root {
    font-size: 16px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    gap: 100px;

}



.close-btn {
    font-size: 24px;
    background: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
