    .cardconfi {
        border-radius: 10px;
        background-color: black;
        width: 50%;
        margin: 0px auto;
        color: white;
    }
    .had{
        background-color: #17BEBB !important;
        padding: 10px;
        font-family: rubik;
        
    }
    
    .list-group-item {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }
    
    .text-success {
        font-weight: bold;
    }
    
    .text-danger {
        font-weight: bold;
    }
    
    .text-warning {
        font-weight: bold;
    }
    
    .form-select {
        max-width: 200px;
        margin: 0 auto;
    }
    p{
        font-size: 15PX;
        font-family: rubik;
    }
    h5{
        font-size: 25px !important;
        font-family: rubik;
    }
    .salirx1 {
        position: absolute;
        float: left;
        background-color: transparent; 
        border: none; 
        padding: 5px; 
        cursor: pointer; 
        z-index: 10; 
    }